body {
  background-color : transparent;
}

.bg-fundo {
  background-image: url('images/photo.jpg');
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #f0c;
}

.participantesleft {
 text-align: left;
} 
.fonteparticipantes {
  font-size: 50%;
}
.participantesright {
 text-align: right;
 margin-right: 5px;
}