body {
    background-color : #F5DEB3;
    background-image: url('images/photo.jpg');
    background-size: 100%;
    }
.participantesleft {
 text-align: left
} 
.fonteparticipantes {
  font-size: 50%;
}
.participantesright {
  text-align: right
}