body {
    background-color : #F5DEB3;
    background-image: url('images/photo.jpg');
    background-size: 100%;
    }
.photojpg {
  width:6; 
  height:25%; 
  float: right;
  margin-top: 0%;
  margin-right:0%;
}