body {
  background-color : #F5DEB3;
  background-image: url('images/logo.jpg');
  background-size: 100%;
  }

.centralizar {
  text-align: center;
}

.darkgrey {
  color: black;
  }

.black {
  color: black;
}

.xpto{
  color: purple;
  /* font-size: 150px; */
}

.largura {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo2 {
  width:262px; 
  height:261px; 
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}
.fonte{
  font-size: 70px;
}
