body {
  background-color : #F5DEB3;
  background-image: url('images/logo.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
}

.centralizar {
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
.xpto{
  color: purple;
  /* font-size: 150px; */
}

.largura {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40% 
   }

.logo2 {
  width: 15%;
}
.fonte{
  font-size: 50px;
}