body {
  background-color : #F5DEB3;
  background-image: url('images/logo.jpg');
  background-position: 50%;
  background-size: heigth: auto;;
  background-repeat: no-repeat;
  }

.centralizar {
  text-align: center;
}



.darkgrey {
  color: #23238E;
}

.black {
  color: black;
}

.xpto {
  color: black;
 }

.largura {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo2 {
  width:162x; 
  height:161px; 
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

.kant {
  width:162x; 
  height:161px; 
  float: right;
  margin-top: 0px;
  margin-right: -1500px;
}
.sapereaude {
  width:100x; 
  height:101px; 
  float: right;
  margin-top: 0px;
  margin-right: -2100px;
}

.fonte{
  font-size: 80px;
}
.fonteparticipantes {
  font-size: 80%;
}